<!DOCTYPE html>
<html>
    <head>
        <style>
            *{
                margin: 0px;
                padding: 0px;
            }
            header{
                background-color: blue;
                text-align: center;
            }
            header h1{
                color: white;
            }
            main{
                text-align: center;
            }
            main h3{
                color: red;
            }
        </style>
    </head>
    <body>
        <header>
            <h1> mani application</h1>
        </header><br><br>
        <main> 
            <h3>We are praciting daily</h3>
        </main>
    </body>
</html>